$darktext: #242037;
$lighttext: white;
$header-bg: rgba(250, 249, 249, 0.4);
$body-bg-filter: rgba(95, 3, 3, 0.15);
$mini-pod-bg: #242037;
$mini-pod-bg-active: #C3771B;
$dot: rgba(255, 255, 255, 0.5);