@use '../utility/function' as f;
@use '../utility/mixin' as m;

.current {
    padding-top: 1rem;

    @include m.vertical-breakpoint(vertical-lg) {
        padding-top: 5vh;
    }

    @include m.breakpoint(medium) {
        padding-top: 7vh;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include m.breakpoint(large) {
            flex-direction: row;
            justify-content: center;
        }
    }
    &__city {
        text-align: center;
        font-size: 2.25rem;
        @include m.breakpoint(large) {
            font-size: 3.25rem;
            transform: translate(-2rem, 1rem);
        }
    }
    &__temp {
        font-size: 7rem;
        transform: translateY(-2rem);

        @include m.breakpoint(large) {
            font-size: f.rem(180);
        }

        & span {
            font-size: 0.4em;
            display: inline-block;
            transform: translateY(-1.3em);
        }
    }
    &__light-text {
        background-color: rgba(36, 32, 55, 0.7);
        border-radius: 10px;
        padding: 1rem 3rem;
        transform: translateY(-2rem);
        width: 75%;
        max-width: 270px;

        @include m.breakpoint(large) {
            max-width: 250px;
            margin-left: 3rem;
            margin-top: 1.5rem;
            height: f.rem(180);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &>div {
            display: flex;
            justify-content: space-between;

            & div {
                width: 4rem;
            }
        }
        &>div:not(:last-child) {
            margin-bottom: 0.7rem;
        }
    }

    &__icon-wrapper {
        display: flex;
        place-items: flex-start;
    }
}