@use '../base/variable' as v;

body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background:linear-gradient(v.$body-bg-filter v.$body-bg-filter), url('https://source.unsplash.com/twukN12EN7c/w=1920');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

}

.body-bg-horizontal {
    background-size: auto;
}

.wrapper {
    width: 90%;
    margin: 0 auto;  
}

.dark-text {
    color: v.$darktext;
}

.light-text{
    color: v.$lighttext;
}